
<div class="masthead">
    <span class="language-nav">
        <a href="">CSS</a>
        <a href="">HTML</a> 
        <a href="">Javascript</a> 
        <a href="">Ruby</a>     
    </span>
    <br>
    <div>
        <img src="assets/AA_Times_Logo.png" alt="paper title">
    </div>
    <br>
    <span class="masthead-links">

        <li><a href="">Tuesday, October 18, 2016</a></li>
        <li></i><a href=""><i class="far fa-newspaper"></i> Today’s Paper</a></li>
        <li><a href=""><i class="fas fa-video"></i> Video</a></li>
        <li> <button>77°F</button></li>
        <li> <button>AAO +100%</button></li>
    </span>
<div>
