/* PHASE 3: Layout */

.content {
    display: flex;
    justify-content: center;
}

.content-sidebar {
    min-height: 200px;
    width: 250px;
    display: inline-block;
    border: 1px solid gray;
    background-color: white;
}
.content-main {
    min-height: 200px;
    width: 650px;
    display: inline-block;
    border: 1px solid gray;
    background-color: white;
}